body {
  background-color: #121212;
  color: white;
  text-align: center;
  font-size: 1em;
  font-family: verdana;
  margin: 0;
}

h1 {
  font-size: 1.2em;
  padding: 10px 0 0 0;
  color: white;
  margin: 0 0 5px 0;
}

h2 {
  font-size: 0.8em;
  border-bottom: 1px solid #757575;
  margin: 0 0 30px 0;
  padding: 0 0 10px 0;
  color: #757575;
}

/* rows */
.row {
  text-align: center;
  display: flex;
  justify-content: center;
}

.row > div {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #757575;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
}

.row > div.grey {
  background: #757575;
  border-color: #757575;
}

.row > div.yellow {
  background: #e4a81d;
  border-color: #e4a81d;
}

.row > div.green {
  background: #43a047;
  border-color: #43a047;
}

/* 
Fondo: #121212
Blanco: white
Gris: #757575
Verde: #43a047
Amarillo: #e4a81d
Teclas: #475569
*/